/* your custom css */

.hero {
  font-family: $hero;
}

.thanks {
  margin-top: 1rem;
  color: #ba00ff;
  font-size: 1.3rem;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.gitter-chat-embed {
  z-index: 99999;
}
.gitter-open-chat-button {
  z-index: 99999;
}

.promoImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.buttonWrapper .button {
  font-size: 26px;
  padding: 0.5em 1.25em;
  font-weight: bold;
}

.promoCallToAction {
  font-size: 1.5rem;
  font-weight: normal;
  color: #ba00ff;
  margin-top: 1rem;
}
