/* your custom css */

.homeContainer {
}

.hero {
  font-family: $primary;
}

.landing {
  font-family: $primary;
}

.promoButton .buttonWrapper {
  font-family: $secondary;
  color: #margiff;
  border-color: #margiff;
}

.get-started__button-container {
  margin-top: 1rem;
  border: 2px solid $primaryColor;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  color: $primaryColor;
  transition: all 300ms ease-out;
  text-transform: uppercase;
  font-family: $secondary;
}

.get-started__button-container:hover {
  background-color: $primaryColor;
  color: #ffffff;
}

.projectTitle {
  margin-top: 0;
}

.projectTitle__main {
  background: linear-gradient(to bottom, $primaryColor 0%, #6a81ff 100%);
  font-size: 5rem;
  font-weight: bold;
  margin-top: 3rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.projectTitle__secondary {
  background: linear-gradient(to bottom, $primaryColor 0%, #6a81ff 100%);
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.promoCallToAction {
  font-size: 1.5rem;
  font-weight: normal;
  color: $primaryColor;
  margin-top: 1rem;
  font-family: $secondary;
}

.thanks {
  color: $primaryColor;
  margin-top: 1rem;
  text-align: center;
}

.thanks__heading {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.thanks__secondary {
  display: block;
  font-size: 1rem;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.gitter-chat-embed {
  z-index: 99999;
}
.gitter-open-chat-button {
  z-index: 99999;
}

.promoImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.buttonWrapper .button {
  font-size: 26px;
  padding: 0.5em 1.25em;
  font-weight: bold;
}
