/* your custom css */

.homeContainer {
  background-image: linear-gradient(to bottom, $primaryColor, $unmockBlue);
}

.hero {
  font-family: $primary;
  color: #ffffff;
}

.landing {
  font-family: $primary;
}

.promoButton .buttonWrapper {
  font-family: $secondary;
  color: #ffffff;
  border-color: #ffffff;
}

.get-started__button-container {
  padding: 0.3rem 0.75rem;
}

.get-started__button {
  margin-top: 1rem;
  border: 2px solid #ffffff;
  border-radius: 1rem;
  padding: 0rem;
  opacity: 0.7;
  transition: opacity 0.5s;
}

.get-started__button a {
  color: #ffffff;
}

.get-started__button:hover {
  opacity: 1;
}

.projectTitle {
  font-weight: bold;
  color: #ffffff;
}

.thanks {
  color: $primaryColor;
  margin-top: 1rem;
  text-align: center;
}

.thanks__heading {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.thanks__secondary {
  display: block;
  font-size: 1rem;
}

.promoCallToAction {
  font-size: 1.5rem;
  font-weight: normal;
  color: #ffffff;
  margin-top: 1rem;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.gitter-chat-embed {
  z-index: 99999;
}
.gitter-open-chat-button {
  z-index: 99999;
}

.promoImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.buttonWrapper .button {
  font-size: 26px;
  padding: 0.5em 1.25em;
  font-weight: bold;
}

.promoCallToAction {
  font-size: 1.5rem;
  font-weight: normal;
  color: #ffffff;
  margin-top: 1rem;
}
